src/main/resources/log4j2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Configuration" type="ConfigurationType"/>
  <xs:complexType name="PatternLayoutType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="pattern" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConsoleType">
    <xs:sequence>
      <xs:element type="PatternLayoutType" name="PatternLayout"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name"/>
    <xs:attribute type="xs:string" name="target"/>
  </xs:complexType>
  <xs:complexType name="SizeBasedTriggeringPolicyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="size"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PoliciesType">
    <xs:sequence>
      <xs:element type="SizeBasedTriggeringPolicyType" name="SizeBasedTriggeringPolicy"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DefaultRolloverStrategyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="max"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RollingFileType">
    <xs:sequence>
      <xs:element type="PatternLayoutType" name="PatternLayout"/>
      <xs:element type="PoliciesType" name="Policies"/>
      <xs:element type="DefaultRolloverStrategyType" name="DefaultRolloverStrategy"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name"/>
    <xs:attribute type="xs:string" name="filename"/>
    <xs:attribute type="xs:string" name="filepattern"/>
  </xs:complexType>
  <xs:complexType name="AppendersType">
    <xs:sequence>
      <xs:element type="ConsoleType" name="Console"/>
      <xs:element type="RollingFileType" name="RollingFile"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AppenderRefType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="ref" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RootType">
    <xs:sequence>
      <xs:element type="AppenderRefType" name="AppenderRef" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="level"/>
  </xs:complexType>
  <xs:complexType name="LoggersType">
    <xs:sequence>
      <xs:element type="RootType" name="Root"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfigurationType">
    <xs:sequence>
      <xs:element type="AppendersType" name="Appenders"/>
      <xs:element type="LoggersType" name="Loggers"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="status"/>
  </xs:complexType>
</xs:schema>